html, body {
	background: none;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
}

button {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: solid 1px white;
	border-radius: 10px;
	font-size: 2vh;
}

button:hover:enabled, button:focus:enabled {
	background-color: rgba(128, 128, 255, 0.5);
}

button:active:enabled {
	background-color: white;
	color: black;
}

button:disabled {
	color: #444;
	border: solid 1px #444;
}

::-webkit-scrollbar {
	background: black;
}

::-webkit-scrollbar-thumb {
	background-color: white;
}

#credits {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: column;
	background-color: rgba(0, 0, 0, 0.9);
	color: white;
	font-size: 2vh;
	border-radius: 20px;
	padding: 1vh 1vw;
	overflow: hidden;
	max-height: 90vh;
	max-width: 90vw;
}

#credits-title {
	text-align: center;
	font-weight: bold;
	font-size: 2.5vh;
	padding-bottom: 0.75vh;
}

#notification {
	text-align: center;
	color: white;
	width: 75%;
	margin: auto;
	background: rgba(128, 128, 255, 0.5);
	border-radius: 10px;
	padding: 0.5vh 0.5vw;
}

#credits-list {
	overflow: auto;
	flex-grow: 1;
	padding: 0.75vh 0.5vw 0 0.5vw;
}

.credit {
	color: #bbb;
	padding: 0.3vh 0;
}

.link {
	color: #67b;
}

.link:hover {
	color: #b76;
	text-decoration: underline;
}

.link:active {
	color: #6b7;
}

#close {
	margin-top: 0.5vh;
}
